<% budget_types.each do |budget_type| %>
   <td>
     <%= f.fields_for budget_type, @grant.send(budget_type) do |b| %>
       <%= b.text_field type, class: "form-control text-right money #{budget_type.to_s.dasherize}", value: number_to_currency(b.object.send(type)), data: { guard: "moneyUS", budget_type: budget_type.to_s.dasherize } %>
     <% end %>
   </td>
<% end %>
