<html>
  <head>
    <script>
      function number_pages() {
        var vars={};
        var x=document.location.search.substring(1).split('&');
        for(var i in x) {var z=x[i].split('=',2);vars[z[0]] = decodeURIComponent(z[1]);}
        var x=['frompage','topage','page','webpage','section','subsection','subsubsection'];
        for(var i in x) {
          var y = document.getElementsByClassName(x[i]);
          for(var j=0; j<y.length; ++j) y[j].textContent = vars[x[i]];
        }
      }
    </script>
  </head>
  <body onload="number_pages()">
    <div align="center">
      Housing Industry Foundation &bull;
      Phone: (650) 437-2980 &bull;
      Fax: (408) 935-9203 &bull;
      Email: grants@hifinfo.org
    </div>
    <div align="center">
      Page <span class="page"></span> of <span class="topage"></span>
    </div>
  </body>
</html>
