<div class="well">
  <h4>HIF Controls</h4>
  <div class="form-group ">
    <label class="control-label " for="select1">
     Status
    </label>
    <select class="select form-control" id="select1" name="select1">
     <option value="Incomplete">
      Incomplete
     </option>
     <option value="Pending">
      Submitted
     </option>
     <option value="Approved">
      Approved
     </option>
     <option value="Denied">
      Denied
     </option>
     <option value="Paid">
      Paid
     </option>
     <option value="Refund Needed">
      Refund Needed
     </option>
     <option value="Refund Needed">
      Refund Received
     </option>
    </select>
  </div>
  <div class="form-group ">
    <label class="control-label " for="number">
      Grant Amount
    </label>
    <div class="input-group">
      <div class="input-group-addon">
        $
      </div>
      <input class="form-control" id="number" name="number" type="text">
    </div>
  </div>
  <div class="form-group ">
    <label class="control-label " for="number">
      Check Number
    </label>
    <div class="input-group">
      <div class="input-group-addon">
        #
      </div>
      <input class="form-control" id="number" name="number" type="text">
    </div>
  </div>
  <div class="form-group ">
    <label class="control-label " for="number">
      Payee
    </label>
    <input class="form-control" id="number" name="number" type="text">
  </div>
  <div class="form-group">
    <%= link_to grant_budgets_path(@grant) do %>
      <span class="glyphicon glyphicon-new-window"></span> Budget Worksheet
    <% end %>
  </div>
  <div class="form-group">
    <div>
      <button class="btn btn-default " name="submit" type="submit">
        Save Status
      </button>
    </div>
  </div>
</div>
