<h1>Grant Applications</h1>

<% if @grants %>
  <%= react_component('GrantsList', grants: @grants) %>

  <p>
    <%= link_to '<span class="glyphicon glyphicon-plus"></span> New Application'.html_safe, new_grant_path, class: 'btn btn-primary' %>
  </p>
<% else %>
  <div class="alert alert-warning">
    No applications have been submitted yet. <%= link_to '<span class="glyphicon glyphicon-plus"></span> New Application'.html_safe, new_grant_path, class: 'btn btn-default' %>
  </div>
<% end %>
