.breadcrumb {
  .active {
    font-weight: bold;
  }
  .future {
    font-weight: 100;
    a {
      font-weight: normal;
    }
  }
}

.nested-fields {
  border-bottom: solid 1px $gray-lighter;
  margin-bottom: 10px;

  .form-group:last-of-type {
    margin-bottom: 10px;
  }

  &:last-of-type {
    border-bottom: none 0px;
  }
}

.select2-container--bootstrap .select2-selection {
  font-family: inherit;
}

.employment {
  border-top: solid 1px $gray-lighter;
  padding-top: 10px;
}