/*!
 * This file contains CSS that applies to the application layout, not to any particular controller.
 */

abbr[title],
abbr[data-original-title] {
  color: $brand-danger;
  cursor: default;
  border-bottom: 0px;
}

body {
  padding-top: 70px;
}

.form-group {
  position: relative;
}

.navbar-brand {
  background: url(/images/hif_logo.png) 16px 4px no-repeat;
  background-size: 40px;
  display: inline-block;
  font-weight: 900;
  font-size: 22px;
  height: 55px;
  margin-bottom: -3px;
  padding-left: 75px;
  width: auto;
}

.navbar-fixed-top {
  background-image: url(/images/scales.png);
}

.text-bold {
  font-weight: bold;
}

#footer-icon {
  background: url(/favicon-96x96.png) no-repeat;
  background-size: 100%;
  display: inline-block;
  height: 16px;
  margin-bottom: -3px;
  width: 16px;
}
