/*!
 * This file contains CSS that applies to the application layout, not to any particular controller.
 */

body {
  padding-top: 70px;
}

.form-group {
  position: relative;
}

.text-bold {
  font-weight: bold;
}
