@media (max-width: 767px) {
  .btn-block-xs {
    display: block;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
}

/* Text Colors for Icons */

.text-red {
  color: #bf2222;
}

.text-green {
  color: #7dc134;
}
